.section  {
    border-bottom: 1px solid black;
    margin-bottom: 15px ;
}

.icon-input{
    position: absolute;
    background: transparent;
    height: 13px;
    width: 35px;
    padding: 7px 0px 0px 8px;
    color: #b81237;
}

.input-icon {
    padding-left: 35px !important;
}


.input-error {
    box-shadow: inset 0px -3px 0px red, 0px 0px red;
}

.input-sucess {
    box-shadow: inset 0px -3px 0px green;
}

.success-color {
    color: green;
}

.error-color {
    color: red;
}